@import "variables";

%base-rules {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

%kanban-title-h1 {
    display: inline;
    padding: 10px;
    border-radius: 10px;
    background-color: $title-background-color;
}

%todo-params {
    background: $todo-background-color;
    border-radius: $card-border-radius;
    padding: 20px;
    margin-bottom: 10px;
}

%close-button {
    background-color: $close-button-color;
    font-weight: bold;
    color: $close-x-color;
    border-radius: $circle-border-radius;
    border: 0;
    width: $close-button-size;
    height: $close-button-size;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

%icons-holder {
    margin-top: 10px;
    list-style: none;
    overflow: hidden;
    padding: 5px;
}

%icon-list-item {
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
}

@mixin icon-bg($bg-color: green) {
    border-radius: $circle-border-radius;
    width: $icon-size;
    height: $icon-size;
    background-color: $bg-color;
}