$main-background-color: #299CFA;
$title-background-color: #f1f8fccc;

$todo-list-background-color: #ffffff80;
$todo-background-color: #ffffffcc;

$todo-hover-background-color: #178deccc;
$todo-text-hover-color: whitesmoke;

$close-button-color: red;
$close-x-color: white;
$close-button-size: 18px;


$icon1-background-color: green;
$icon2-background-color: orangered;
$icon3-background-color: yellow;

$icon-color: white;
$icon-size: 36px;
$icon-hover-color: #17598f;

$main-background-image: url(../images/pexels-jaime-reimer-2662116.jpg);

$circle-border-radius: 50%;

$card-border-radius: 10px
